
<section id="featured" class="bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
			
			
	<section id="content">
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
				<!--	<h1><img src="img/logo.png" class="img-responsive" style="display:block; margin:auto;"/></h1> -->					
					<p class="h1">Report and Track Missing Persons Faster.</p>
								<br>
									<p><a href="missing" class="btn btn-theme btn-lg">File a Missing Person Report <i class="fa font-icon-user"></i></a></p>
									
									<div class="col-lg-offset-4 col-lg-2 col-md-12 col-sm-12 col-xs-12"><a href="missing" class="btn btn-warning btn-lg" style="background: yellow; color: black;"> Join CitiSearch <i class="fa font-icon-bookmark"></i></a></div>
									<div class="hidden-lg col-md-12 col-sm-12 col-xs-12"><p></div>
									<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"><a href="travel" class="btn btn-primary btn-lg"> WakaMate <i class="fa font-icon-bookmark"></i></a></div>
			<div class="hidden-lg col-md-12 col-sm-12 col-xs-12"></p></div>
					</div>
			</div>		
		</div>
		</div>
			

			
			</div>
		</div>
	</div>	
</section>
